
#footer-div-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background: black;
  height: 15%;
  color: white;
  margin: 0;
  padding: 0;

}
ul{
  width: 100%;
  text-decoration: none;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  background: black;
}

li {
  padding: 0;
  margin: 0;
}
