
#footer-div-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 10%;
  color: white;
  margin: 0;
  padding: 0;
  background: black;
  position: relative;
}
#flex{
  display: flex;
  flex-flow: row;
  grid-column: 2/3;
  align-items: center;

}

p{
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

