<div class="container">
  <div class="article">
    <img src="assets/pics/dog4.jpg">
    <h1>Tierheim vor Herausforderungen</h1>
    <p>Corona brachte Ruhe ins Wiesbadener Tierheim. Das tat Mensch und Tier gut, auch wenn die Spenden weniger wurden. In naher Zukunft könnte es aber noch ein viel größeres Problem geben.</p>
  </div>
  <div class="article">
    <img src="assets/pics/police.jpg">
    <h1>Hunde entern Streifenwagen</h1>
    <p>Mönchengladbach Die Vierbeiner wurden in Gewahrsam genommen und ins Tierheim gebracht. Zuvor machte die Polizei ein Beweisfoto der kaltschnäuzigen Eindringlinge.</p>
  </div>
  <div class="article">
    <img src="assets/pics/hubi.jpg">
    <h1>Der große, niedliche Hubi muss noch viel lernen</h1>
    <p>Langenfeld/Monheim/Hilden Ich bin der Hubert, ein Jahr jung und ein richtig toller Hund. Aber: Nobody is perfect. Ich bin ein Pitbull-Junge. Dafür kann ich aber nichts. Wir sind von Natur aus freundliche, liebe und verschmuste Fellnasen.</p>
  </div>

</div>
