#menu-main{
  width: 100%;
  background: black;
  color: white;
  display: grid;
  z-index: 2;
  grid-template-columns: repeat(3, auto);
  margin: 0;
  padding: 0;
  position: relative;
}

h1{
  text-decoration: none;
  outline: 0;
  grid-column: 1/2;
  margin-left: 2vw;
}

/*Items in ul (buttons)*/
li{
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 8vw;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-align: center;
}
/*No decoration when clicking on buttons (part of the Framework)*/
router-outlet{
  text-decoration: none;
}

/*list of li (list for the menu buttons)*/
ul{
  width: 100%;
  grid-column-start: 3;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  display: flex;
  flex-flow: row;
  text-decoration: none;
}
/* "a" element in li*/
a{
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  width: 100%;
  justify-content: center;

}

li:hover a{
  display: none;
}
/*icon of the menu button */
li > fa-icon{
  display: none;
  z-index: 0;
}
li:hover {
  transition: background-color 0.5s ease;
  background: white;
  color: black;
}
/*hover of the button and its icon*/
li:hover .button-icon{
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  width: 100%;
  justify-content: center;
}
