<div id="menu-main">
    <h1 routerLink="">Sargons Tierheim <fa-icon [icon]="pawIcon"></fa-icon></h1>
  <i class="fas fa-phone"></i>
      <ul>
        <li routerLink="animals"><span style="position: relative"></span><fa-icon class="button-icon" [icon]="pawIcon"></fa-icon><a>Tiere</a></li>
        <li routerLink="gallery"><fa-icon class="button-icon" [icon]="cameraIcon"></fa-icon><a>Galerie</a></li>
        <li routerLink="news"><fa-icon class="button-icon" [icon]="newspaperIcon"></fa-icon><a>Aktuelles</a></li>
      <li routerLink="about"><fa-icon class="button-icon" [icon]="usersIcon"></fa-icon><a>Über uns</a></li>
        <li routerLink="contact"><fa-icon class="button-icon" [icon]="donateIcon"></fa-icon><a>Spenden</a></li>

      </ul>
</div>
