<div id="search-container">

  <div id="toolbar">
    <div class="container" id="age">
      <p>Alter</p>
      <div class="dropdown">
        <p>0-1</p>
        <p>2-5</p>
        <p>6+</p>
      </div>
    </div>
    <div class="container" id="search-field">
      <p>Tier</p>
      <div class="dropdown" >
        <p>Katze</p>
        <p>Hund</p>
      </div>
    </div>
    <div class="container" id="gender">
      <p>Geschlecht</p>
      <div class="dropdown" >
        <p>Männlich</p>
        <p>Weiblich</p>
      </div>
    </div>
  </div>

  <div class="animal-instance">
    <div class="name-pic-container">
      <img class="pic" src="assets/pics/dog3.jpg">
      <p>Rocky</p>
    </div>
    <div class="details">
      <p>2 Monate alt</p>
    </div>
    <div class="adoption">
      <p>Adoptiere mich</p>
    </div>
  </div>

  <div class="animal-instance">
    <div class="name-pic-container">
      <img class="pic" src="assets/pics/cat1.jpg">
      <p>Franzis</p>
    </div>
    <div class="details">
      <p>3 Jahre alt</p>
    </div>
    <div class="adoption">
      <p>Adoptiere mich</p>
    </div>
  </div>

  <div class="animal-instance">
    <div class="name-pic-container">
      <img class="pic" src="assets/pics/dog2.jpg">
      <p>Rex</p>
    </div>
    <div class="details">
      <p>3 Jahre alt</p>
    </div>
    <div class="adoption">
      <p>Adoptiere mich</p>
    </div>
  </div>

  <div class="animal-instance">
    <div class="name-pic-container">
      <img class="pic" src="assets/pics/dog4.jpg">
      <p>T-Bone</p>
    </div>
    <div class="details">
      <p>5 Jahre alt</p>
    </div>
    <div class="adoption">
      <p>Adoptiere mich</p>
    </div>
  </div>

  <div class="animal-instance">
    <div class="name-pic-container">
      <img class="pic" src="assets/pics/dog5.jpg">
      <p>Kek</p>
    </div>
    <div class="details">
      <p>6 Jahre alt</p>
    </div>
    <div class="adoption">
      <p>Adoptiere mich</p>
    </div>
  </div>

  <div class="animal-instance">
    <div class="name-pic-container">
      <img class="pic" src="assets/pics/dog6.jpg">
      <p>Amana</p>
    </div>
    <div class="details">
      <p>3 Jahre alt</p>
    </div>
    <div class="adoption">
      <p>Adoptiere mich</p>
    </div>
  </div>



</div>

