:root {
  --eerie-black: #282929;
  --jet: #333333;
  --steel-teal: #668586;
  --second-black: #141414;
  --very-dark-blue:#0c141d;
}
head{
  width: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#grid{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  background: #0c141d;
  height: 100%;
}
p{
  color: white;
  grid-column: 2/3;
}
